:root {
	--tag-color-0: hsl(0, 0%, 65%);
	--tag-color-1: hsl(0, 65%, 65%);
	--tag-color-2: hsl(35, 85%, 65%);
	--tag-color-3: hsl(53, 90%, 55%);
	--tag-color-4: hsl(101, 75%, 65%);
	--tag-color-5: hsl(172, 70%, 65%);
	--tag-color-6: hsl(208, 100%, 65%);
	--tag-color-7: hsl(275, 75%, 65%);
	--tag-color-8: hsl(330, 55%, 65%);
	--tag-background-color-0: hsl(0, 0%, 20%);
	--tag-background-color-1: hsl(0, 40%, 40%);
	--tag-background-color-2: hsl(35, 45%, 35%);
	--tag-background-color-3: hsl(53, 65%, 30%);
	--tag-background-color-4: hsl(101, 40%, 35%);
	--tag-background-color-5: hsl(172, 30%, 35%);
	--tag-background-color-6: hsl(208, 45%, 40%);
	--tag-background-color-7: hsl(275, 35%, 40%);
	--tag-background-color-8: hsl(330, 30%, 40%);
}
